In [2]:
import pyspark.pandas as ps
import pandas as pd
import numpy as np

In [3]:
psdf = ps.DataFrame({
    "A" : 1.,
    "B" : pd.Timestamp(20240102),
    "C": pd.Series(1,index=list(range(4)),dtype='float32'),
    "D" : np.array([3]*4, dtype = 'int32'),
    "F" : 'foo'
})

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/03 03:39:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
psdf

     A                          B    C  D    F
0  1.0 1970-01-01 00:00:00.020240  1.0  3  foo
1  1.0 1970-01-01 00:00:00.020240  1.0  3  foo
2  1.0 1970-01-01 00:00:00.020240  1.0  3  foo
3  1.0 1970-01-01 00:00:00.020240  1.0  3  foo