In [2]:
import pyspark.pandas as ps
import pandas as pd

/usr/local/lib/python3.12/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [3]:
psdf = ps.DataFrame({
    "year" : [1990,1997,2003,2009,2014],
    "rabbit" : [20,18,489,675,1776],
    "horse" : [4,25,281,600,1900]
})

pdf = pd.DataFrame({
    "year" : [1990,1997,2003,2009,2014],
    "sheep" : [22,50,121,445,791],
    "chicken": [250,326,589,1241,2118]
    })

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/26 16:45:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
psdf

   year  rabbit  horse
0  1990      20      4
1  1997      18     25
2  2003     489    281
3  2009     675    600
4  2014    1776   1900

In [5]:
ps.sql(" SELECT * FROM {psdf} WHERE rabbit > 100", psdf=psdf)

   year  rabbit  horse
0  2003     489    281
1  2009     675    600
2  2014    1776   1900

In [6]:
# Converting pandas-on-spark DataFrame to Spark DataFrame
sdf = psdf.to_spark()
print(type(sdf))
sdf.show()

/usr/local/lib/python3.12/site-packages/pyspark/pandas/utils.py:1016: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

<class 'pyspark.sql.dataframe.DataFrame'>
+----+------+-----+
|year|rabbit|horse|
+----+------+-----+
|1990|    20|    4|
|1997|    18|   25|
|2003|   489|  281|
|2009|   675|  600|
|2014|  1776| 1900|
+----+------+-----+